@media (max-width: 1100px){
    .profile-page{
        padding: 1em;
    }
    .profile-page-content{
        width: 100%;
    }

    .profile-sidebar{
        width: 25%;
    }

    .profile-info{
        width: 74%;
    }
    .order-info{
        height: 7em;
    }
}