@media (min-width: 0px) and (max-width: 750px){
    .cart-page-body h1{
        font-size: 3em;
    }
    .cart-page-body{
        padding: 1em 2%;
    }
    .table-total{
        flex-direction: column;
    }
    
    .table-total > *{
        width: 100%;
    }

    .checkout-btn{
        font-size: 1em;
    }
}